Source: ros-iron-ndt-omp
Section: misc
Priority: optional
Maintainer: koide <koide@aisl.cs.tut.ac.jp>
Build-Depends: debhelper (>= 9.0.0), libpcl-dev, ros-iron-ament-cmake-auto, ros-iron-ros-environment, ros-iron-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-iron-ndt-omp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcl-dev, ros-iron-ros-workspace
Description: OpenMP boosted NDT and GICP algorithms
